<section class="welcome-banner">
  <div class="container">
    <div class="banner-content">
      <h3 class="welcome-text">¡Bienvenido A La Familia MAAJIKIDS!</h3>
      <h1 class="main-title">Centro de estimulacion temprana y psicoprofilaxis</h1>
      <p class="description">
        Somos una institución educativa con una propuesta innovadora donde le
        brindamos a tu hijo(a) las herramientas para convertirse en un niño(a)
        seguro y feliz, dentro de un ambiente estimulante y de cuidado.
      </p>
      <a routerLink="/admision" class="btn-primary">Admisión 2026</a>
    </div>
      <div class="banner-image">
  <img src="assets/images/banner-admision2026.jpg"
       alt="Niño MAAJIKIDS">
      <!-- Elementos decorativos -->
      <div class="decoration bird">🐦</div>
      <div class="decoration cloud cloud-1">☁️</div>
      <div class="decoration cloud cloud-2">☁️</div>
      <div class="decoration sun">☀️</div>
    </div>
  </div>
</section>
